@namespace CoreFlex.Chat.Rcl
@inject NavigationManager NavigationManager
@inject LocalStorageJsInterop LocalStorageJsInterop

<div class="function">
    @foreach (var menu in _menuItems)
    {
        <div class="menu @(_selectItem.Name == menu.Name?"menu-select":"")" @onclick="menu.OnClick">
            <MIcon>@menu.Icon</MIcon>
        </div>
    }
</div>