<MButton Text Icon="Icon" Class="@GetClass" Width="Width" Height="Height" Style=@GetStyle OnClick="OnClickHandler">
    <span class="menu-button-item">
        @if (Icon)
        {
            <MIcon>@ChildContent</MIcon>
        }
        else
        {
            @ChildContent
        }
    </span>
</MButton>