/* 定义三分布局 */
.main-container {
	display: flex;
	color: var(--main-text01-color) !important;
	height: 100vh;
}

.left-panel {
	width: 55px;
	background-color: var(--main-bg01-color);
	overflow: auto; /* 如果内容过多，允许滚动 */
}

.center-panel {
	width: 220px;
	background-color: var(--main-bg02-color);
	overflow: auto;
}

.right-panel {
	flex: 1; /* 剩下的空间全部用于右侧面板 */
	background-color: var(--main-bg01-color); /* 灰色背景，你可以改成其他颜色 */
	overflow: auto;
}

html {
	overflow: hidden;
}

:root {
	--main-bg01-color: #E5E5E5;
	--main-bg02-color: #FFFFFF;
	--main-bg03-color: #F2F2F2;
	--main-text01-color: #2c2c2c;
	--main-text02-color: #1B1B1B;
	--main-text03-color: #111111;
}

body[data-theme="dark"] {
	--main-bg01-color: #2c2c2c;
	--main-bg02-color: #1B1B1B;
	--main-bg03-color: #111111;
	--main-text01-color: #E5E5E5;
	--main-text02-color: #FFFFFF;
	--main-text03-color: #F2F2F2;
}
