@inherits LayoutComponentBase
<style>
  .main-container {
    display: flex;
    height: 100%;
  }
  .main-left-sidebar {
    width: 64px;
    padding: 16px 0;
    background: #ffffff;
    border-right: 1px solid #dddddd;
  }
  .main-content {
    flex-grow: 1;
    background-color: #e8e8e8; 
  }
</style>

<MApp Style="height: auto;">
    <div class="main-container">
        <div class="main-left-sidebar">
            <NavMenu TopActions="_topActionModels">
                <Avatar>
                    <MAvatar Color="teal"
                             Size="48">
                        <span class="white--text text-h5">48</span>
                    </MAvatar>
                </Avatar>
                <BottomActions>
                    <MenuButton Icon>mdi-wrench</MenuButton>
                </BottomActions>
            </NavMenu>
        </div>
        <div class="main-content">
            @Body
        </div>
    </div>
</MApp>