@inject NavigationManager NavigationManager
<div class="nav-menu">
    <div class="nav-menu-top">
        @Avatar
        <div style="padding: 10px 0">
            @foreach (var top in TopActions)
            {
                <MTooltip @bind-Value="top.Tooltip" Right>
                    <ActivatorContent>
                        <MenuButton Icon="!string.IsNullOrEmpty(top.Icon)" IsSelect="top.IsSelect" OnClick="() => OnClick(top)">@top.Icon</MenuButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@top.Title</span>
                    </ChildContent>
                </MTooltip>
            }
        </div>
    </div>
    <div class="nav-menu-bottom">
        @BottomActions
    </div>
</div>