@inject NavigationManager NavigationManager
<div class="nav-menu">
    <div class="nav-menu-top">
        @Avatar
        <div style="padding: 10px 0">
            @foreach (var top in TopActions)
            {
                <MenuButton OnClick="()=>OnClick(top)">@top.Title</MenuButton>
            }
        </div>
    </div>
    <div class="nav-menu-bottom">
        @BottomActions
    </div>
</div>