<div class="nav-menu">
    <div class="nav-menu-top">
        @Avatar
        <div style="padding: 10px 0">
            @TopActions
        </div>
    </div>
    <div class="nav-menu-bottom">
        @BottomActions
    </div>
</div>