.menu-button {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #000000;
    -webkit-transition: color 600ms cubic-bezier(0.215, 0.61, 0.355, 1), scale 400ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: color 600ms cubic-bezier(0.215, 0.61, 0.355, 1), scale 400ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;
    text-align: center;
    user-select: none;
    margin-bottom: 8px;
}

.menu-button:hover {
    color: #000000;
    background: #EFEFEF;
}

.menu-button-item {
    text-align: center;
    transition: transform 0.2s ease;
}

.menu-button-select {
    background: #F7F7F7;
}

.menu-button-select i{
    color: #000000 !important;
}

.menu-button-item:active {
    transition: transform 0.2s ease;
    transform: scale(0.9);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-menu-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.nav-menu-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
}

.application-item{
    transition: 0.5s;
    margin: 8px;
    cursor: pointer;
}

.application-item:hover {
    transition: 0.5s;
    background: #b1b1b1;
    color: #ffffff !important;
}
