@page "/"

<div class="center-panel">
    <MList Dense>
        <MListItemTitle Style="padding: 8px;">
            AI智能助手
        </MListItemTitle>
    </MList>
</div>
<div class="right-panel">

</div>