@page "/"

@inject LocalStorageJsInterop LocalStorageJsInterop

<div class="center-panel">
    <div class="search-input-container">
        <input type="text" class="search-input" placeholder="搜索">
    </div>

    <div class="menu-list">
        @foreach (var item in chatMenuItems)
        {
            <div class="menu-item @(item.Id == selectMenuItem.Id?"menu-item-select":"")" @onclick="item.OnClick">
                <img src="/chatgpt.png" />
                <div class="menu-text">
                    <div class="menu-title">@item.Name</div>
                    <div class="menu-subtitle">@item.Description</div>
                </div>
                <div class="menu-time">@GetLastUpdate(item.LastUpdate)</div>
            </div>
        }
    </div>
</div>
<div class="right-panel">

</div>