@page "/application"

@inject WindowJsInterop WindowJsInterop
@inject IApplicationService ApplicationService
@inject IPopupService PopupService

<div style="width: 100%;padding: 8px;height: 55px;">
    <MAppBarTitle>
        知识库
    </MAppBarTitle>
    <div style="float: right;">
        <CreateApplication OnSucceed="OnCreate"/>
    </div>
</div>
<MDivider></MDivider>
<div>

    <MRow Dense>
        @foreach (var card in _knowledgeBaseEntities)
        {
            <MCol key="@card.Id" Cols=3>
                <MCard Class="application-item" >
                    <MCardTitle>
                        <MAvatar>
                            <MImage Src="favicon.png"></MImage>
                        </MAvatar>
                        @card.Name
                    </MCardTitle>
                    <MCardText>
                        @card.Description
                    </MCardText>
                    <MCardActions>
                        <MSpacer></MSpacer>
                        <MButton Text>
                            打开
                        </MButton>
                        <MMenu OffsetX NudgeWidth=70 CloseOnContentClick="false">
                            <ActivatorContent>
                                <MButton Icon @attributes="@context.Attrs">
                                    <MIcon>mdi-menu</MIcon>
                                </MButton>
                            </ActivatorContent>

                            <ChildContent>
                                <MList >
                                    <MListItem Color="red">
                                        <MListItemContent>
                                            <MListItemTitle>
                                                删除
                                            </MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                </MList>
                            </ChildContent>
                        </MMenu>
                    </MCardActions>
                </MCard>
            </MCol>
        }
    </MRow>
</div>